<ion-view title="HOME PAGE" id="page9">
  <ion-content padding="true" class="has-header">
    <ion-list id="hOMEPAGE-list4">
      <ion-item id="hOMEPAGE-list-item7">
        <img src="../img/image1.jpg">
      </ion-item>
    </ion-list>
    <div style="text-align: center; padding-top: 30%;">
      <p>
        <b>
          My profile
        </b>
      </p>
      <p>
        <b>
          Menu
        </b>
      </p>
      <p>
        <b>
          My Account
        </b>
      </p>
    </div>
    
    <div style="padding-left: 10%;">
      <img src="../img/image1.jpg" height="30" width="30">
      <img src="../img/image2.jpg" height="30" width="30">
      <img src="../img/image1.jpg" height="30" width="30">
      <img src="../img/image2.jpg" height="30" width="30">
      <img src="../img/image1.jpg" height="30" width="30">
      <img src="../img/image2.jpg" height="30" width="30">
      <img src="../img/image1.jpg" height="30" width="30">
      <img src="../img/image2.jpg" height="30" width="30">
    </div>
    
    
  </ion-content>
</ion-view>