<ion-view title="LOGIN" id="page7">
  <ion-content padding="true" class="has-header">
    <form id="lOGIN-form1" class="list">
      <div class="spacer" style="height: 40px;"></div>
      <a ui-sref="sUCCESS" id="lOGIN-button12" class="button button-positive  button-block">Login With Facebook</a>
      <a ui-sref="sUCCESS" id="lOGIN-button14" class="button button-positive  button-block">Login With Google</a>
      <a ui-sref="sUCCESS" id="lOGIN-button13" class="button button-positive  button-block">Login With Twitter</a>
    </form>
  </ion-content>
</ion-view>