<ion-view title="PROFILE" id="page5">
  <ion-content padding="true" class="has-header">
    <ion-list id="pROFILE-list1">
      <ion-item class="item-avatar" id="pROFILE-list-item5" ui-sref="sUCCESS">
        <img src="../img/image1.jpg" height="30" width="30">
        <h2>Profile picutre</h2>
      </ion-item>
      <form id="pROFILE-form2" class="list">
        <label class="item item-input" id="pROFILE-input4">
          <span class="input-label">Name</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input" id="pROFILE-input5">
          <span class="input-label">Phone number</span>
          <input type="tel" placeholder="">
        </label>
        <label class="item item-input" id="pROFILE-input6">
          <span class="input-label">Age</span>
          <input type="tel" placeholder="">
        </label>
        <label>
          <span class="input-label">Select your gender</span>
          <ion-radio name="radio1" id="pROFILE-radio1">Male</ion-radio>
          <ion-radio name="radio1" id="pROFILE-radio2">Famale</ion-radio>
        </label>
        <label>
          <span class="input-label">Who do you want to meet ?</span>
          <ion-radio name="radio2" id="pROFILE-radio3">Male</ion-radio>
          <ion-radio name="radio2" id="pROFILE-radio4">Famale</ion-radio>
        </label>
        <a ui-sref="hOMEPAGE" id="lOGIN-button13" class="button button-positive  button-block">FINISH</a>

      </form>
      <!--<ion-radio id="pROFILE-radio1"></ion-radio>-->
    <!---->
      <!--<ion-radio id="pROFILE-radio6">Who do you want to meet ?</ion-radio>-->
      <!--<ion-radio id="pROFILE-radio8">Female</ion-radio>-->
      <!--<ion-radio id="pROFILE-radio7">Male</ion-radio>-->
    </ion-list>
  </ion-content>
</ion-view>