<ion-view title="SIGN UP" id="page4">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="width: 300px; height: 96.9858px;"></div>
    <a ui-sref="sUCCESS" id="lOGIN-button12" class="button button-positive  button-block">Login With Facebook</a>
    <a ui-sref="sUCCESS" id="lOGIN-button14" class="button button-positive  button-block">Login With Google</a>
    <a ui-sref="sUCCESS" id="lOGIN-button13" class="button button-positive  button-block">Login With Twitter</a>
  </ion-content>
</ion-view>