<ion-view title="Upload Photos" id="page8">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon ion-ios-arrow-forward"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <ion-list id="uploadPhotos-list3">
      <ion-item class="item-avatar" id="uploadPhotos-list-item6">
        <h2>Upload photo</h2>
      </ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 20.9943px;"></div>
    <p>
      Upload your photo from
    </p>
    <button id="uploadPhotos-button9" class="button button-positive  button-block">Dropbox</button>
    <button id="uploadPhotos-button10" class="button button-positive  button-block">Twitter</button>
    <button id="uploadPhotos-button11" class="button button-positive  button-block">Facebook</button>
  </ion-content>
</ion-view>